.side-nav {
  grid-area: sideNav;
  overflow-y: scroll;
  padding: 0.8rem;
}

.nav-cont {
  width: 100%;
}

.item {
  margin: 0.2rem 0;
  border-radius: 5px;
  padding: 0.5rem;
}

.item div {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.3rem;
  margin-left: 0.8rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.selected {
  background-color: #f2f2f2;
}

span {
  user-select: none;
}

.explore {
  margin: 1rem;
  font-size: 1.2rem;
}

/* divides section */
.divider{
  width: 100%;
  border-top: 2px solid  #eaeaea ;
}

